@import "./rgbbutton.scss";

@include rgbbutton(112%, 147%, -5.5%, -20.5%, 1);

.ferris {
    transform: rotate(-15deg);
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.heading,
.subheading {
    user-select: none;
}
